@import "tailwindcss";

@font-face {
    font-family: 'christiana';
    src: url('/fonts/christiana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nintendobios';
    src: url('/fonts/nintendobios.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-roof-500: oklch(0.687 0.1249 254.53);
    --color-cream-500: oklch(0.9578 0.0559 109.6);

    --color-pumpkin-100: oklch(0.98 0.03 67.29);
    --color-pumpkin-200: oklch(0.95 0.05 67.29);
    --color-pumpkin-300: oklch(0.92 0.07 67.29);
    --color-pumpkin-400: oklch(0.88 0.09 67.29);
    --color-pumpkin-500: oklch(0.8332 0.1065 67.29);
    --color-pumpkin-600: oklch(0.75 0.11 67.29);
    --color-pumpkin-700: oklch(0.65 0.11 67.29);
    --color-pumpkin-800: oklch(0.55 0.10 67.29);
    --color-pumpkin-900: oklch(0.45 0.09 67.29);

    --font-display: 'christiana', sans-serif;
    --font-christiana: 'christiana', sans-serif;
    --font-nintendobios: 'nintendobios', sans-serif;
}