@if (quantity() === 0) {
  <button class="bg-pumpkin-500 text-gray-800 px-3 font-semibold py-1 rounded text-md cursor-pointer flex items-center
               transition transform duration-150 ease-in-out
               hover:scale-115 active:scale-95 active:shadow-inner
               focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pumpkin-500
               disabled:bg-pumpkin-200 disabled:cursor-not-allowed disabled:scale-100"
    (click)="addToCart(); $event.stopPropagation()" 
    [disabled]="!canAddToCart()"
    data-testid="button-cart-empty">
    @if (canAddToCart()) {
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
      </svg>
      Add
    } @else {
      Sold out
    }
  </button>
} @else {
  <div class="flex items-center" (click)="$event.stopPropagation()" data-testid="button-cart-with-quantity">
    <button (click)="removeFromCart()" data-testid="button-cart-minus"
      class="bg-pumpkin-500 text-gray-800 font-bold py-1 px-3 rounded-l transition transform duration-150 ease-in-out hover:scale-115 active:scale-95 active:shadow-inner focus:outline-none cursor-pointer"
      >-</button>
    <span class="bg-pumpkin-200 text-gray-800 font-semibold py-1 px-4" data-testid="button-cart-quantity">
      {{ quantity() }}
    </span>
    <button (click)="addToCart()" data-testid="button-cart-plus"
      class="bg-pumpkin-500 text-gray-800 font-bold py-1 px-3 rounded-r transition transform duration-150 ease-in-out hover:scale-115 active:scale-95 active:shadow-inner focus:outline-none cursor-pointer
             disabled:bg-pumpkin-400 disabled:cursor-not-allowed disabled:scale-100"
      [disabled]="!canAddToCart()">+</button>
  </div>
}