<h2 class="text-2xl font-semibold mb-3">Cart</h2>
<div class="space-y-3 text-lg">

  @if (items().length === 0) {
    <div class="py-6 text-center text-gray-600 italic" data-testid="cart-no-items">Your cart is empty.</div>
  } @else {

    <div data-testid="cart-items">
    @for (item of items(); track item.name) {
      <div class="flex items-center justify-between mb-2">
        <div class="flex items-center space-x-3">
          <div class="w-8 h-8 bg-cream-500 rounded flex items-center justify-center text-gray-400">img</div>
          <span data-testid="cart-item-name" class="font-medium">{{ item.name }}</span>
          <span data-testid="cart-item-quantity" class="text-sm text-gray-500">×{{ item.quantity }}</span>
        </div>
        <div class="flex items-center space-x-3">
          <div data-testid="cart-item-price" class="font-semibold">₽{{ item.price }}</div>
        </div>
      </div>
    }
    </div>

    <div class="text-2xl border-t pt-3 flex justify-between font-semibold">
      <div>Total</div>
      <div data-testid="cart-total-price">₽{{ totalPrice() }}</div>
    </div>
    <button class="text-lg mt-4 w-full bg-pumpkin-500 font-bold text-gray-800 py-2 rounded">Checkout</button>
  }
</div>